<section id="main_content" class="landing">

	<div class="signup_container">

		<h2>Sign up</h2>

		<% if @user.errors.any? %>
			<% @user.errors.full_messages.each do |message| %>
				<%= message %><br />
			<% end %>
		<% end %>

		<% flash.each do |key, value| %>
        	<div class="alert alert-<%= key %>"><%= value %></div>
      	<% end %>
		
		<%= form_for @user, url: {action: "create"}, html: {multipart: "true"} do |f| %>


			<%= f.hidden_field :form, :value => request.path.gsub("/", "") %>

      		<div class="field">
      			<%= f.email_field :email, id: "email", placeholder: "enter email", autocomplete: "off" %>
			</div>

      		<div class="field">
      			<%= f.text_field :name, id: "username", placeholder: "enter username", autocomplete: "off" %>
			</div>

			<div class="field">
				<%= f.password_field :password, id: "password", placeholder: "enter password", autocomplete: "off" %>
			</div>

			<div class="antispam">
				Leave this empty: <%= f.text_field :url, autocomplete: "off" %>
			</div>

			<div class="actions">
				<%= f.submit "Create my account" %>
			</div>

			<p><%= link_to "Click here", root_path %> to return to the sign in page</p>

		<%end%>

</section>

