

	<div class="signin_container">

		<h2>Please sign in</h2> 

		<% flash.each do |key, value| %>
        	<div class="alert alert-<%= key %>"><%= value %></div>
      	<% end %>
		
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

			<div class="field">
		  		<%= f.email_field :email, :autofocus => true, :placeholder => 'enter email', :autocomplete => 'off' %>
			</div>

			<div class="field">
		  		<%= f.password_field :password, :placeholder => 'enter password', :autocomplete => 'off' %>
			</div>

			<div class="actions">
		  		<%= f.submit "Sign in" %>
			</div>

			<p>Or <%= link_to "click here", new_user_registration_path %> to sign up</p>

		<%end%>

	</div>


