<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1>Hi <%= @resto_name %></h1>
      
      <p>
         You have received an order, submitted at <%= @submitted_at %> by <%= @name %>.<br>
      </p>
      
      <p>
         Details for the order are attached below:
      </p>

      <p>Delivery Address:
         <%= @name %><br />
         <%= @address1 %><br />
         <%= @address2 %><br />
         <%= @city %>, <%= @state %> <%= @zip %><br />
         <%= @cross_street %><br />
         <%= @phone %><br />
         Special Instructions: <%= @instructions %><br />
      </p>

      <p>Attached is a summary of the order: TBD - Order details go here</p>

      <p>The order total is $ <%= @total %>, including $ <%= @tax %> in tax and $ <%= @tip %> in tip.</p>

      <p>The customer can be contact at <%= @user_email %> or <%= @phone %> if you have any further questions.

      Sincerely,
      SM-Seamless
      
   </body>
</html>