<!DOCTYPE html>
<html>
<head>
  <title>Seamless</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body <%= @bodyclass ? "class = #{@bodyclass}" : "" %>>

<%= yield %>

</body>
</html>
